<h1 class="title">Imagenes Firebase</h1>

<div>
<h2>Una imagen de firesbase</h2>
<img src="{{image}}" class="img1">
<button (click)="OneImage('001.png')">Mostrar</button>
</div>
<hr>
<!-- <div *ngFor="let  allImage of  allImage">
  <div *ngFor="let element of itemns"></div>
  htmlbreak

</div> -->
<div>
<h2>lista de imagenes en firebase</h2>
<hr>
<div *ngFor="let  allImage of  allImage">
<ul>
  <li><img src="{{allImage}}" class="img1"></li>
</ul>
</div>
<button (click)=" allImages()">Mostrar</button>
</div>

